body {
    background-color: #ab5d5d49;
    font-family: sans-serif;
    font-size: larger;
    font-style: italic;
    color: wheat;
}

* {
    color: gray;
    font-family: sans-serif;
    font-size: medium;
    font-style: italic;
}

.formulaire {
    display: inline-block;
    position: absolute;
    position: center;
    justify-content: center;
    background-color: rgb(70, 4, 4);
    margin-top: 3%;
    margin-left: 37%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8px;
    box-shadow: 6px 10px 10px #d67c7c;
}

input {
    display: flex;
    position: relative;
    border-radius: 4px;
    padding-right: 0;
    border: grey;
    width: 300px;
    height: 30px;
    max-height: 100px;
    transition: 1s;
}

input:hover {
    background-color: #e4d0d0e7;
    border-bottom-color: 3px slateblue;
    border-top-color: rgb(70, 4, 4);
    border-left-color: rgb(70, 4, 4);
    border-right-color: rgb(70, 4, 4);
}

select {
    display: flex;
    position: relative;
    border-radius: 4px;
    padding-right: 0;
    border: grey;
    width: 300px;
    height: 30px;
}

img {
    display: flex;
    position: relative;
    left: 100px;
    top: 0em;
    border-radius: 50%;
    height: 100px;
}
.barreNavigation{
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 3px 3px #c8bfbf;
    background-color: white;
    padding-top: 20px;
}
.lienNavigation{
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    color: rgb(70, 4, 4);
    box-shadow: 2px 3px 3px rgb(70, 4, 4);
    transition: 1s;
}
.lienNavigation:hover{
    color: white;
    background-color: rgba(70, 4, 4, 0.801);
}

.submit {
    width: 150px;
    height: 50px;
    top: 10px;
    margin: auto;
    padding: auto;
    position: relative;
    display: flex;
    justify-content: center;
    border-color: 2px rosybrown;
    border-width: 3px;
    text-decoration: none;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times;
    font-weight: bold;
    font-style: normal;
    color: rgba(0, 0, 0, 0.774);
}

:required::before {
    border: 1px solid red;
}

.foot{ 
    position: relative;
    width: 100%;
    top: 20 cm;
    height: auto;
    margin-bottom: 0;
}
footer{
    background-color: rgb(70, 4, 4);
    padding: 20px;
    padding-left: 35%;
    margin-top: 12cm;
}